.DS_Store
.tmp
.git
node_modules
.settings
*.log
dist/

\.idea/inspectionProfiles/profiles_settings\.xml

\.idea/inspectionProfiles/Project_Default\.xml

\.idea/misc\.xml

\.idea/modules\.xml

\.idea/NG6-starter\.iml

\.idea/workspace\.xml

\.idea/
