@import '../common';

.hero {
  background-color: $darkBgColor;
  height: 50rem;
  padding: 3rem;

  h1, h3, p, .quoteForm__label__value {
    color: $lightTextColor;
  }

  form {
    display: flex;
    flex-direction: column;
    width: 30%;
    height: 20%;
    align-items: center;
    justify-content: space-evenly;
    text-transform: capitalize;
  }

  input, select, button {
    width: $formWidth;
    height: 20px;
    box-sizing: border-box;
  }
}

.quoteForm__label {
  padding-top: 12px;
}

.quoteForm__label__value {
  padding-bottom: 8px;
}

.quoteForm__submit {
  margin-top: 8px;
}

.quoteResult {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-top: 20px;
}

.quoteResult__result {
  color: $lightTextColor;
  margin: 12px;
}
