@import '../common';

.result {
  background-color: $darkBgColor;
  height: 50rem;
  padding: 3rem;
}

.quoteResult {
  display: flex;
  flex-direction: column;
  width: 30%;
  align-items: center;
  margin-top: 20px;
}

.quoteResult__result {
  color: $lightTextColor;
  margin: 12px;
}
